<ul class="sidebar-menu">
  <li class="sidebar-menu-item">
    <a href="{{ '/' | relative_url }}" class="sidebar-link">
      <i class="fas fa-home"></i>
      홈으로
    </a>
  </li>
  <li class="sidebar-menu-item">
    <a href="/learn-cs/NAVIGATION.html" class="sidebar-link">
      <i class="fas fa-list"></i>
      전체 목차
    </a>
  </li>
  <li class="sidebar-menu-item">
    <a href="https://github.com/lledellebell/learn-cs" class="sidebar-link" target="_blank">
      <i class="fab fa-github"></i>
      GitHub 저장소
    </a>
  </li>
</ul>
